div.header {
    background-color: #76D6FF;
    background: linear-gradient(#76D6FF, white);
    width: 100%;
    height: 140px;
    border-radius: 10px;
    position: relative;
    color: #003366;
  }
  
  div.logo {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
  }
  
  div.logo img {
    width: 270px;
    height: 192px;
  }
  
  div.topbar {
    width: 100%;
    height: 70px;
  }
  
  div.topbaritems {
    width: 700px;
    height: 70px;
    float: right;
  }
  
  div.topbaritem:first-child {
    border-left: 0px;
  }
  
  div.topbaritem {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    border-left: 1px solid aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  
  
  div.bottombar {
    border-top: 1px solid aliceblue;
    width: 100%;
    height: 70px;
  }
  
  div.bottombaritems {
    position: absolute;
    left: 300px;
    width: 800px;
    height:70px;
  }
  
  div.bottombaritem {
    display: inline-block;
    width: 180px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    padding-top: 20px;
    padding-right: 15px;
    text-align: center;
  }
  
  .caps {
    text-transform: uppercase;
  }
  
  .small {
    font-size: 12pt;
  }
  
  .smaller {
    font-size: 10pt;
  }
  
  .plainlink {
    text-decoration: none;
    color: inherit;
  }