<div class="header">
    <div class="logo"><a [routerLink]="['/home']"><img src="assets/TacoCloud.png"/></a></div>
    <div class="topbar">
      <div class="topbaritems">
        
        <div class="topbaritem">
          <a routerLink ="/login" class="plainlink" *ngIf = "!user">
            <img src="assets/down-triangle.png" style="float: right; margin-right:15px; margin-top: 12px;"/>
            <span class="caps small">Sign in</span><br/>
            <span class="smaller">or Create an Account</span>
          </a>
          <a routerLink ="/logout" class="plainlink" *ngIf = "user">Log out</a>
          
        </div>
        <div class="topbaritem" style="font-size: 17pt;">
          <a [routerLink]="['cart']" class="plainlink" *ngIf = "user">
            <img src="assets/cart.png" align="center" />
            {{cart.getItemsInCart().length * 4.99 | currency}}
          </a>
        </div>
      </div>
    </div>
    <div class="bottombar">
      <div class="bottombaritems">
        <div class="bottombaritem">
          <a [routerLink]="['recents']" class="plainlink" *ngIf = "user">Latest designs</a>
        </div>
        <div class="bottombaritem">
          <a [routerLink]="['design']" class="plainlink" *ngIf = "user">Design</a>
        </div>
        <div class="bottombaritem">
          <a [routerLink]="['specials']" class="plainlink" *ngIf = "user">Specials</a>
        </div>
        <div class="bottombaritem">
          <a [routerLink]="['locations']" class="plainlink" *ngIf = "user">Locations</a>
        </div>
      </div>
    </div>
  </div>