input.formField {
    font-size: 16pt;
    background: none;
    border: none;
    border-bottom: 1px solid #003366;
  }
  
  group-box {
    width:1000px;
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }