<app-cloud-title>Sign In To Taco Cloud</app-cloud-title>

<div *ngIf="isLoginMode">
<app-group-box title="Sign In">
    <form #logForm="ngForm" (ngSubmit)="logIn(logForm)">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" ngModel #username="ngModel" class="formField" required/>
        <span class="help-block" *ngIf="!username.valid&& username.touched">Please Enter a username!</span>
        <br /><br />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel #password="ngModel" class="formField" required/>
        <span class="help-block" *ngIf="!password.valid&& password.touched">Please Enter a password</span>
        <br /><br />
        <app-big-button label="Sign In"></app-big-button> 
        <hr>
        <app-big-button label="Create Account" (click) = "onSwitchMode()"></app-big-button>
    </form>
</app-group-box>
</div>

<div *ngIf="!isLoginMode">
<app-group-box title="Register">
    <form #regForm="ngForm" (ngSubmit)="registerUser(regForm)">
    <label for="username"><b>Username:</b></label>
    <input type="text" name="username" class="formField" ngModel id="username" #username = "ngModel" required/>
    <span class="help-block" *ngIf="!username.valid && username.touched">Please enter Username</span>
    <br/><br/>

    <label for="password"><b>Password:</b></label>
    <input type="password" name="password" class="formField" id="password" #password="ngModel" ngModel required/>
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter Password</span>
    <br/><br/>

    <label for="password"><b>(verify password)</b></label>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label for="fullname"><b>Full name:</b></label>
    <input type="text" name="fullname" id="fullname" ngModel #fullname="ngModel" class="formField" required/>
    <span class="help-block" *ngIf="!fullname.valid && fullname.touched">Please enter your fullName</span>
    <br/><br/>

    <label for="street"><b>Street:</b></label>
    <input type="text" name="street" id="street" ngModel #street="ngModel" class="formField" required/>
    <br/><span class="help-block" *ngIf="!street.valid && street.touched">Please enter Street</span>
    <br/><br/>

    <label for="city"><b>City</b></label>
    <input type="text" name="city" id="city" ngModel #city="ngModel" class="formField" required/>
    <br/><span class="help-block" *ngIf="!city.valid && city.touched">Please enter City</span>
    <br/><br/>
    
    <label for="state"><b>State</b></label>
    <input type="text" name="state" id="state" ngModel #state="ngModel" class="formField" required/>
    <br/><span class="help-block" *ngIf="!state.valid && state.touched">Please enter state</span>
    <br/><br/>

    <label for="zipCode"><b>Zip code:</b></label>
    <input type="text" size="2" name="zipCode" id="zipCode" ngModel #zipCode="ngModel" class="formField" required/>
    <br/><span class="help-block" *ngIf="!zipCode.valid && zipCode.touched">Please enter Zipcode</span>
    <br/><br/>

    <label for="phoneNumber"><b>Phone number:</b></label>
    <input type="text" name="phoneNumber" id="phoneNumber" ngModel #phoneNumber="ngModel" class="formField" required/>
    <br/><span class="help-block" *ngIf="!phoneNumber.valid && phoneNumber.touched">Please enter Phone number</span>
    <br/><br/>
    <app-big-button label="Register" type="submit"></app-big-button>
    <hr>
    <app-big-button label="Log In Instead" (click) = "onSwitchMode()" type="button"></app-big-button>
    

    </form>
</app-group-box>
</div>