<app-cloud-title>Admire some recently created taco masterpieces</app-cloud-title>

<p>Even the greatest artists sometimes need to be inspired by the works of others.
  Here are some of the most recently created tacos, designed by taco artists just like you...</p>

<div class="recentsblock">
  <div class="tacoblock" *ngFor="let taco of recentTacos | paginate:{itemsPerPage: 8, currentPage:p};">
    <div class="tacoName"><span class="small">The</span><br />"{{taco.name}}"</div>
    <div class="tacoDesc">
      <ul class="commalist">
        <li *ngFor="let ingredient of taco.ingredients | nonWraps">{{ingredient.name}}</li>
      </ul>
      <div *ngIf="(taco.ingredients | wraps)?.length > 0">
        <span>wrapped in</span>
        <ul class="commalist">
          <li *ngFor="let ingredient of taco.ingredients | wraps">{{ingredient.name}}</li>
        </ul>
      </div>
      <div *ngIf="(taco.ingredients | wraps)?.length == 0">in a bowl</div>
    </div>
    <app-little-button label="Order this taco" (click)="orderTaco(taco)" style="cursor: pointer;"></app-little-button>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>