div.ingredientsblock {
    width: 1000px;
  }
  
  input.nameField {
    font-size: 16pt;
    background: none;
    border: none;
    border-bottom: 1px solid #003366;
  }

  button {
    margin-right: 3rem;
}

.example-card {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  background-image: url('../../assets/taco-icon.png');
  background-repeat: no-repeat;
  background-color: rgba(118, 214, 255, 0.25);
  margin: 10px;
  border-radius: 10px;
  text-align: right;
  padding: 0 10px 10px 0;
  height: 100%;
  color: #003366;
  border: 1px solid #76D6FF;
}

.example-header-image {
    background-image: url('../../assets/taco-icon.png');
    background-size: cover;
}

table {
    width: 100%;
}